apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTPListenerConfig" doc:name="HTTP Listener config" doc:id="3e6a1310-a4c6-49a7-a491-f20f6b8b77f1">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTPRequestConfiguration" doc:name="HTTP Request configuration" doc:id="9e529c6f-a987-4d57-b3fc-d5060acd4cc8" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<vm:config name="VMConfig" doc:name="VM Config" doc:id="5b5f8dca-0657-4ab4-9103-8b29bdc1bdff" >
		<vm:queues >
			<vm:queue queueName="Goodbye Queue" />
		</vm:queues>
	</vm:config>
	<flow name="Hello" doc:id="2123fbd6-3c7a-4a7e-9202-e914fc0f9a27" >
		<http:listener doc:name="GET/hello" doc:id="57d17ef6-3db2-4ae6-bc92-c4ea92ae14ac" config-ref="HTTPListenerConfig" path="/hello" allowedMethods="GET"/>
		<set-payload value="Hello world !" doc:name="Set Payload" doc:id="b90ba7e4-beca-4550-a6d1-720753897d5d" />
		<vm:publish queueName="Goodbye Queue" doc:name="Publish to GoodbyeQueue" doc:id="6f7ef7c4-e069-4946-9dd6-4cf04507ae5f" config-ref="VMConfig"/>
		<logger level="INFO" doc:name="Logger" doc:id="218ad6e6-c459-4d04-833b-6ced83b4bbdd" />
	</flow>
	<flow name="Goodbye" doc:id="753e0850-c34d-43bd-9dd6-de580df42b69" >
		<vm:listener doc:name="Listener" doc:id="0310461a-664d-4c92-acd8-c6afbe47c387" config-ref="VMConfig" queueName="Goodbye Queue"/>
		<set-payload value='#["Goodbye "++ (attributes.queryParams.firstname  default "")]' doc:name="Set Payload" doc:id="e7684c0e-6cd2-4e52-bd52-ed0895a1cd06" />
		<logger level="INFO" doc:name="Logger" doc:id="7fe774a2-7f81-4e81-9f54-74235ebc9d6f" />
	</flow>
</mule>
